<div class="title-bar">
    <div class="page-title">
        @if (showBackOnSelectClick)
        {
            <img class="nm-icon px-2" src="svg/back-svgrepo-com.svg" @onclick="BackClick" />
            <div style="padding-left: 10px">Select Multiple</div>
        }
        else
        {
            <img class="nm-icon px-2" src="svg/hamburger-menu-svgrepo-com.svg" />
            <div style="padding-left: 10px">@PageTitle</div>
        }
    </div>
    <div class="page-actions">
        @if (showBackOnSelectClick)
        {
            <input type="checkbox" class="select-checkbox" style="padding-right:10px;" @onchange="SelectAllClick" />
            <img class="nm-icon px-3" src="svg/bin-svgrepo-com.svg" @onclick="DeleteClick" />
        }
        else
        {
            <img class="nm-icon px-2" src="svg/search-svgrepo-com.svg" />
            <img class="nm-icon px-2" src="svg/refresh-2-svgrepo-com.svg" />
            <img class="nm-icon px-2" src="svg/select-multiple-svgrepo-com.svg" @onclick="SelectMultipleClick" />
        }
    </div>
</div>

<style>
    .title-bar, .page-title, .page-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    .title-bar {
    height: 50px;
    padding: 0px 10px;
    background-color: #f6f6f6;
    }

    .page-title {
    font-weight: 600;
    font-size: 20px;
    }
</style>

@code {
    [Parameter] public string PageTitle { get; set; } = "Home";
    [Parameter] public EventCallback<bool> OnSelectMultipleClick { get; set; }
    [Parameter] public EventCallback<bool> OnSelectAllItem { get; set; }
    [Parameter] public EventCallback OnDeleteItem { get; set; }
    public bool isSelectClicked { get; set; } = false;
    public bool showBackOnSelectClick = false;
    public bool isSelectAllChecked = false;

    private async void SelectMultipleClick()
    {
        isSelectClicked = true;
        showBackOnSelectClick = true;
        await OnSelectMultipleClick.InvokeAsync(true);
    }
    public async void BackClick()
    {
        isSelectClicked = false;
        showBackOnSelectClick = false;
        await OnSelectMultipleClick.InvokeAsync(false);
    }

    private async void SelectAllClick(ChangeEventArgs args)
    {
        await OnSelectAllItem.InvokeAsync((bool)args.Value);
    }

    private async void DeleteClick()
    {
        await OnDeleteItem.InvokeAsync();
    }
}